*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
.navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    text-decoration:none;
}
.lorem-font{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
.main-left{
    display: flex;
    margin-left: 100px;
    margin-top: 20px;

}
.main-right{
    display: flex;
    padding-right: 35px;
    align-items: flex-end;
    padding-bottom: 25px;
    margin-bottom: 20px;

}
.section-font{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color:black;
    margin-left: 20px;
}
.nav-padding{
   padding: 15px;
   text-align: left;
   width:auto;
   text-decoration:none
}
.header-container{
    display:flex;
    justify-content: space-around;

}
.main-container{
    display:flex;
    padding-top: 10px;
    background-color: black;
    justify-content:space-between;
    margin-top: 5px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color:white;
    background-color: black;
    width:auto;
    padding-top: 10px;  

}
.logo-container{
    display:flex;
    align-items: center;
    padding-bottom: 15px;
}
.logo{
    height:45px;
    padding-top: 10px;
    width: 45px;
    object-fit: contain;
    justify-content: center;
}
.search{
    height: 25px;
    width: 25px;
}
.rt-header{
    display:flex;
    margin-bottom: 15px;
    padding-right: 15px;
    align-items: center;
}
.border-line-long{
    height: 3px;
    border-width: 1px;
    color:#000000;
    background-color: black;
    width:auto;
    justify-content: right;
    margin-left: 25px;
    margin-right:25px
}
.large-image{
    width:900px;
    height:auto;
    padding-top: 10px;
}
.border-line-med{
    height: 3px;
    border-width: 1px;
    color:#000000;
    background-color: black;
    width:750px;
    justify-content: right;
    margin-left: 25px;
}
.border-line-small{
    height: 3px;
    border-width: 1px;
    color:#000000;
    background-color: black;
    width:100px;
    justify-content: right;
    margin-left: 25px;
}
.image1{
    height:auto;
    width: 250px;
    object-fit: cover;
}
.image2{
    height:auto;
    width: 300px;
    object-fit: cover;
}
.about-us-container{
    padding: 20px;
    text-align: left;
    width:auto; 
    display:flex;
    align-items: flex-end;
    padding: 15px;
    text-align: left;
    width:auto;
    margin: 25px;
    
}
.about-us-center-text{
    width:100px;
    padding: 15px;
    text-align:justify;
    width:auto
}
.product-container{
    width: 300px;
    height: 500px;
    display:flex;
    flex-direction: column;
    padding: 20px;
}
.inner-container{
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color:black;
}
.learn-more{
    width:100px;
    color:#bf7632;
    font-size: medium;
    text-align: center;
    text-decoration: underline ;
}
.add-to-cart{
    width:100px;
    background-color:#bf7632;
    font-size: 12px;
    text-align: center;
    color:white;
    border-color:#bf7632 ;
    border: 5px;
}
.product-image{
    width: 250px;
    height:200px;
    object-fit: cover;
}
#message-box{
    width: 500px;
    height: 200px;
    font-size:18pt;
}
.contact-us{
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left:  175px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color:black;
    align-items: flex-start;  
    flex-direction: column;  
}
.send{
    width:100px;
    background-color:#bf7632;
    font-size: 12px;
    text-align: center;
    color:white;
    border-color:#bf7632 ;
    border: 5px;
    margin: 5px;
    margin-left: 400px;
    padding: 2px;
}
footer{
    background-color:#bf7632;
    height: 100px;

}
.social-icons{
    height: 30px;
    width: 30px;
    border: 5px;
    display: flex;   
}
.social-lorem-left{
    width:400px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;   
}
.social-lorem-right{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: flex-end; 
    width:400px;
    padding-right: 20px;  
}
.footer-top{
    display: flex;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
}
.copyright{
    display: flex;
    justify-items: right;
    justify-content: flex-end;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 20px; 
}